.message-header-participant-more {
  background: transparent;
  padding: 4px;
}

.message-header-participant-more:hover {
  color: @accent_color;
}

/* card style adds a gap left / right, remove it */
.message-header-banner {
  margin-left: -2px;
  margin-right: -2px;
}

.message-header-external-pill {
  background-color: alpha(currentColor, .1);
  font-size: .9em;
  border-radius: 99px;
  padding: 0 0 0 6px;
  box-shadow: none;
  padding-left: 6px;
  padding-right: 6px;
}
