.counter {
  background: alpha(currentColor, .15);
  border-radius: 999px;
  padding: 2px;
  font-size: smaller;
  font-weight: bold;
  min-width: 1rem;
}

.counter.long {
  padding-left: 6px;
  padding-right: 6px;
}

.counter.needs-attention {
  background: @accent_bg_color;
  color: @accent_fg_color;
}

.folder-row {
  padding: 9px 3px;
  border-spacing: 12px;
}

.separator-row {
  padding: 6px;
  min-height: 0;
}

.conversation-row {
  padding: 9px 0;
  border-spacing: 9px 3px;
}

.conversation-row > box {
  border-spacing: 6px;
}

.contact-row {
  padding: 9px 0;
  border-spacing: 9px 3px;
}

.contact-row > box {
  border-spacing: 6px;
}

.fab {
  margin: 18px;
  padding: 6px;
}

.fab.normal {
  background-color: grey;
}

.conversation {
  margin: 12px 12px;
  border-spacing: 24px;
}

.floating-bar {
  background: var(--popover-bg-color);
  color: var(--popover-fg-color);
  padding: 4px 12px;
  margin: 4px;
  border-radius: 8px;
}

.collapsible-row {
  padding: 0;
}

.entry button,
.entry entry {
        border: none;
        box-shadow: none;
        background: none;
        padding: 0;
}

.entry button label {
    opacity: 0.6;
    padding: 0 3px;
}

.entry button:hover label {
    opacity: 1;
}

.entry button:focus {
    background-color: alpha(@text_color, 0.15);
}

.entry button:checked label {
    color: @accent_color;
    opacity: 1;
}

.entry button:disabled label {
    opacity: 0.5;
}

.composer-dropdown {
  margin: 0 0 0 -6px;
}

.composer-dropdown > button {
  background: transparent;
}

.contact-popover {
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 9px;
}

.contact-popover listview > row {
  padding: 0;
}

.contact-popover listview > row:hover {
  background-color: alpha(currentColor, .03);
}

.contact-popover listview > row:active {
  background-color: alpha(currentColor, .08);
}

.contact-popover listview > row:selected {
  background-color: alpha(currentColor, .1);
}

.contact-popover listview > row:selected:hover {
  background-color: alpha(currentColor, .13);
}

.contact-popover listview > row:selected:active {
  background-color: alpha(currentColor, .19);
}

.no-focus,
.no-focus:focus,
.no-focus:focus-within {
  outline: none;
  box-shadow: none;
  --focus-outline-width: 0;
}

.contact-tag {
  background-color: alpha(currentColor, .1);
  font-size: .9em;
  border-radius: 99px;
  padding: 0 0 0 6px;
  box-shadow: none;
  padding-left: 6px;
  padding-right: 6px;
}

.contact-tag button {
  margin-right: -6px;
  border-radius: 99px;
  min-height: 12px;
}

.contact-tag:hover {
  background-color: alpha(currentColor, .15);
}

.collapsed {
  margin-top: -4em;
  background-color: @theme_bg_color;
}

.smaller {
  font-size: .75em;
}

.circular-spinner {
  border-radius: 100%;
  padding: 3px;
}

.participant-more {
  background: transparent;
  /* color: @accent_color; */
  padding: 4px;
}

.participant-more:hover {
  color: @accent_color;
}

.progress-indicator {
  margin-left: 6px;
  margin-right: 6px;
}

/* Calendar */

.week-header.lines {
  color: rgb(from var(--window-fg-color) r g b / 15%);
}

.week-view .lines {
  color: rgb(from var(--window-fg-color) r g b / 15%);
}

.week-main-content {
  border: 0 solid var(--border-color);
  border-width: 1px 0;
}

weekgrid > widget.now-strip {
  background-color: rgb(from var(--accent-bg-color) r g b / 80%);
  margin: 0 0 0 1px;
  min-height: 2px;
}

.weekhourbar > label {
  font-size: 10pt;
  padding: 4px 6px;
}

.week-header {
  font-size: 10pt;
}

/* Events */

.event {
  background-color: color-mix(in srgb, var(--accent-color) 50%, var(--view-bg-color));
  color:var(--view-fg-color);
  border-radius: 6px;
  margin: 1px;
  font-size: 0.9em;
}

.message-list {
  background: transparent;
}

.message-list > row {
  margin-top: -32px;
  transition: margin 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@media (prefers-color-scheme: dark) {
  .message-list > row {
    background-color: oklab(from white 0.3 a b);
  }
  .message-list > row:not(:first-child) {
    box-shadow: 0 2px 6px 3px rgba(0,0,0, 0.35);
  }
}

.message-list > row:first-child {
  margin-top: 0;
}

.message-list > row.expanded:not(:first-child) {
  margin-top: 6px;
}

.message-list > row.expanded + row {
  margin-top: 6px;
}

.mobile treeexpander {
  padding-top: 3px;
  padding-bottom: 3px;
}

.signature-warning label {
  color: @warning_color;
}

.signature-warning button label {
  color: @initial;
}

.signature-valid label {
  color: @success_color;
}

.signature-valid button label {
  color: @initial;
}

.signature-bad label {
  color: @error_color;
}

.signature-bad button label {
  color: @initial;
}

listview > row.tree-header {
  border-bottom: 1px solid alpha(@accent_color, 0.25);
  font-weight: bold;
  font-size: 1em;
  min-height: 36px;
  margin-top: 12px;
}

listview > row.tree-header:first-child {
  margin-top: 0px;
}

.secondary-sidebar-pane {
  background-color: var(--secondary-sidebar-bg-color);
  color: var(--sidebar-fg-color);
}

.secondary-sidebar-pane > toolbarview-top-bars {
  background-color: var(--secondary-sidebar-bg-color);
}

.message-list-header {
  margin-top: 24px;
  margin-bottom: 32px;
}
